**/__pycache__/*
.snakemake/*
.DS_Store
modules/__pycache__/*
config/__pycache__/*
scripts/__pycache__/*
tools/*
install/tools/*
install/.snakemake/*
install/install.log
install/config.json
install/envs/conda/*
envs/conda/*
install/log/*
config/TEMP/__pycache__/*
test/SRR800842_1.fastq*
test/SRR800842_2.fastq*
docs/_build/
